html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0em;
  height: 100%;
  width: 100%;
  background-color: rgb(66, 66, 66);
}
.header {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: orange;
  font-size: 250%;
}
.searchContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchBar{
  border: none;
  padding: 2px;
  border-radius: 2px;
}
#submitButton{
  background-color: white;
  border: none;
  border-radius: 2px;
  padding: 2px;
}
.overviewContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location{
  margin-top: 50px;
  font-size: 200%;
  color: white;
}
.weatherDescription{
  color: orange;
  margin-top: 5px;
}
.currentTemp{
  margin-top: 20px;
  font-size: 200%;
  color: white;
}
.feelsLike{
  color: orange;
  margin-top: 5px;
}
.wind{
  color: orange;
  margin-top: 5px;
}
/* @media (min-width: 650px) {} */